<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/user" routerLinkActive="active"
    >GitHab</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input
      [(ngModel)]="val"
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="text"
    />
    <button
      (click)="searchEvent()"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Search
    </button>
  </form>
</nav>

<section class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-center">My Repositories</h1>
</section>

<section class="container-fluid d-flex flex-wrap">
  <div *ngFor="let user of users" class="card ml-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ user.full_name }}</h5>
      <p class="card-text">{{ user.description }}</p>
    </div>
    <div class="card-footer">
      <button (click)="detailsEvent(user.full_name)" class="btn btn-primary">
        Details
      </button>
      <button (click)="deleteEvent(user.full_name)" class="btn btn-outline-danger">
          Delete
        </button>
    </div>
  </div>
</section>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary align-center my-2 ml-4"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Create new repository
</button>

<!-- Modal -->
<section
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Repository</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #userRegForm="ngForm"
          (ngSubmit)="userRegForm.form.valid && newRepo(userRegForm.value)"
          novalidate
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              name="name"
              [(ngModel)]="name"
              #username="ngModel"
              [ngClass]="{
                'is-invalid': userRegForm.submitted && username.invalid
              }"
              required
            />
            <div
              *ngIf="userRegForm.submitted && username.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="username.errors.required" class="alert-danger">
                Name is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="homepage"
              placeholder="Homepage"
              name="homepage"
              [(ngModel)]="homepage"
              #home="ngModel"
            />
          </div>
          <div class="form-group">
            <textarea
              type="text"
              class="form-control"
              id="description"
              placeholder="Description"
              name="description"
              [(ngModel)]="description"
              #desc="ngModel"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary align-center"
            id="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
